*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #202124;
    color: #bdc1c6;
}

.app-logo {
    width: 100px;
    display: flex;
}

.app-logo img {
    width: 100%;
}