*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #202124;
    color: #bdc1c6;
}

h1,h2,h3,h4,h5{
   
    font-family: 'Poppins', sans-serif;
}

p, span,button,a{
    font-family: 'Amiko', sans-serif;
}

.app-header {
    display: flex;
    padding: 15px 20px;
    align-items: center;
    justify-content: space-between;
}