*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #161616;
    color: #bdc1c6;
}

h1,h2,h3,h4,h5{
   
    font-family: 'Poppins', sans-serif;
    color: #ea80fc;
}

p, span,button,a{
    font-family: 'Amiko', sans-serif;
}
a{
    cursor: pointer;
}

.app-header {
    display: flex;
    padding: 15px 20px;
    align-items: center;
    justify-content: space-between;
}

.navigation-inner {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.app-navigation {
    width: 60%;
}

.app-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
}

span.nav-item {
    font-size: 14px;
}


.copyright {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 400;
}

span.nav-item.active-item {
    color: #d90066;
}

.body-inner {
    max-width: 1200px;
    margin: auto;
    padding: 0 15px;
}